
<h1 class="my-4">Empresas y Productos Escaneados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Cantidad de Productos Escaneados</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.name %></td>
        <td><%= empresa.producto_escaneados.sum(:cantidad) %></td>
        <td>
          <%= link_to 'Ver Empresa', home_path(empresa), class: 'btn btn-primary' %> <!-- Corrige el prefijo de la ruta -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
