<h1 class="my-4">Empresas y Productos Escaneados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>Cantidad de Productos Escaneados</th>
    </tr>
  </thead>
  <tbody>
    <% @empresas.each do |empresa| %>
      <tr>
        <td><%= empresa.name %></td>
        <td><%= empresa.producto_escaneados.sum(:cantidad) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
